Package: com.alpface.news
Name: newstweak
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: xiaoyuan
Author: xiaoyuan
Section: Tweaks
